@tailwind base;
@tailwind components;
@tailwind utilities;

.two-line-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@layer components {
    .shadow-accent {
        @apply drop-shadow-[0_0_15px_rgba(78,255,166,0.3)];
    }

    .cool-underline {
        @apply content-[''] h-[2px] w-full absolute left-0 bottom-0 scale-x-0 origin-bottom-right transition-transform
        duration-[0.1s] ease-in-out;
    }

    .cool-underline-hover {
        @apply scale-x-100 origin-bottom-left;
    }

    .input-style {
        @apply w-full rounded-3xl bg-transparent border-2 border-main-accent px-3 md:px-4 py-1 md:py-2 my-1 md:my-2
        focus:outline-none focus:shadow-accent focus-visible:outline-none transition duration-150
        placeholder:text-gray-500;
    }

    .section-title {
        @apply font-sans text-3xl md:text-4xl lg:text-5xl;
    }

    .section-hr {
        @apply max-w-sm border-t-2 border-t-main-accent mt-1 md:mt-2 mb-4 md:mb-6;
    }

    .filter-container {
        @apply flex md:flex-col items-center md:items-start gap-y-1 gap-x-2;
    }
    .filter-input-container {
        @apply flex w-fit gap-1 border-2 border-main-accent rounded-3xl px-3 py-1;
    }
    .filter-input-style {
        @apply bg-transparent focus:outline-0 placeholder:text-gray-600;
    }

    .btn-style {
        @apply rounded-3xl bg-transparent border-2 border-main-accent
        px-4 md:px-5 py-1 md:py-1.5 cursor-pointer transition text-center text-sm md:text-base
        hover:bg-main-accent hover:text-secondary-dark hover:shadow-accent;
    }

    .floating-label-input {
        @apply h-10 w-full border-b-2 border-gray-300 text-main-light bg-transparent
        placeholder-transparent focus:outline-none focus:border-main-accent;
    }

    .floating-label-label {
        @apply absolute left-0 -top-3.5 text-gray-400 text-sm transition-all bg-transparent
        peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-600
        peer-placeholder-shown:top-2 peer-focus:-top-3.5
        peer-focus:text-gray-300 peer-focus:text-sm;
    }
}
